/* ../../desktop.blocks/page/page.css begin */
.page
{
    padding: 4px;

    background: #FAF9F7;
}
/* ../../desktop.blocks/page/page.css end */
/* ../../desktop.blocks/contact/contact.css begin */
.contact
{
    position: relative;

    display: inline-block;

    width: 400px;
    min-height: 106px;
    margin: 10px;
    padding: 14px;

    cursor: pointer;
    vertical-align: top;

    border: 1px solid #CBCBC9;
    border-radius: 5px;
    background: #fff;

    font: 12px/16px normal arial, sans-serif;
}

/* ../../desktop.blocks/contact/contact.css end */
/* ../../desktop.blocks/contact/__photo/contact__photo.css begin */
.contact__photo
{
    float: left;

    width: 100px;
    height: 100px;
    margin-right: 20px;

    text-indent: -1000%;

    background-repeat: no-repeat;
    background-size: contain;

    -webkit-transition: height .2s;
       -moz-transition: height .2s;
        -ms-transition: height .2s;
         -o-transition: height .2s;
            transition: height .2s;
}

/* ../../desktop.blocks/contact/__photo/contact__photo.css end */
/* ../../desktop.blocks/contact/__group/contact__group.css begin */
.contact__group
{
    position: absolute;
    top: 16px;
    right: 20px;

    color: #666;
}

/* ../../desktop.blocks/contact/__group/contact__group.css end */
/* ../../desktop.blocks/contact/__info/contact__info.css begin */
.contact__info
{
    margin-left: 122px;
}

/* ../../desktop.blocks/contact/__info/contact__info.css end */
/* ../../desktop.blocks/contact/__name/contact__name.css begin */
.contact__name
{
    overflow: hidden;

    margin-bottom: 6px;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 18px;
    line-height: 1.3;
}

/* ../../desktop.blocks/contact/__name/contact__name.css end */
/* ../../desktop.blocks/contact/__phone/contact__phone.css begin */
.contact__phone
{
    margin: 5px 0 15px 0;
}

/* ../../desktop.blocks/contact/__phone/contact__phone.css end */
/* ../../desktop.blocks/button/button.css begin */
.button
{
    padding: 6px 14px;

    cursor: pointer;

    color: #fff;
    border-width: 0 0 1px 0;
    border-color: #262D21;
    border-radius: 14px;
    background: -webkit-linear-gradient(rgba(90, 152, 0, 0.64), rgba(23, 95, 0, 0.83));
    background:    -moz-linear-gradient(rgba(90, 152, 0, 0.64), rgba(23, 95, 0, 0.83));
    background:     -ms-linear-gradient(rgba(90, 152, 0, 0.64), rgba(23, 95, 0, 0.83));
    background:      -o-linear-gradient(rgba(90, 152, 0, 0.64), rgba(23, 95, 0, 0.83));
    background:         linear-gradient(rgba(90, 152, 0, 0.64), rgba(23, 95, 0, 0.83));
}

.button:hover
{
    background: -webkit-linear-gradient(rgba(90, 152, 0, 0.54), rgba(23, 95, 0, 0.73));
    background:    -moz-linear-gradient(rgba(90, 152, 0, 0.54), rgba(23, 95, 0, 0.73));
    background:     -ms-linear-gradient(rgba(90, 152, 0, 0.54), rgba(23, 95, 0, 0.73));
    background:      -o-linear-gradient(rgba(90, 152, 0, 0.54), rgba(23, 95, 0, 0.73));
    background:         linear-gradient(rgba(90, 152, 0, 0.54), rgba(23, 95, 0, 0.73));
}

.button:active
{
    padding-top: 7px;
    padding-bottom: 5px;
}

/* ../../desktop.blocks/button/button.css end */
/* ../../desktop.blocks/contact/__phone-button/contact__phone-button.css begin */
.contact__phone-button
{
    margin-left: -16px;
}

/* ../../desktop.blocks/contact/__phone-button/contact__phone-button.css end */
/* ../../desktop.blocks/contact/__more/contact__more.css begin */
.contact__more
{
    display: none;
}

/* ../../desktop.blocks/contact/__more/contact__more.css end */
/* ../../desktop.blocks/contact/__details/contact__details.css begin */
.contact__details
{
    margin-top: 20px;

    border-collapse: collapse;
}

/* ../../desktop.blocks/contact/__details/contact__details.css end */
/* ../../desktop.blocks/contact/__detail/contact__detail.css begin */
.contact__detail
{
    vertical-align: top;
}

.contact__detail td:first-child
{
    width: 100px;
}

/* ../../desktop.blocks/contact/__detail/contact__detail.css end */
/* ../../desktop.blocks/contact/__detail-field/contact__detail-field.css begin */
.contact__detail-field
{
    padding: 2px 0;

    color: #666;
}

/* ../../desktop.blocks/contact/__detail-field/contact__detail-field.css end */
/* ../../desktop.blocks/contact/__links/contact__links.css begin */
.contact__links
{
    margin-top: 10px;
}

/* ../../desktop.blocks/contact/__links/contact__links.css end */
/* ../../desktop.blocks/contact/__social/contact__social.css begin */
.contact__social
{
    display: inline-block;

    width: 19px;
    height: 19px;
    margin-right: 6px;

    text-indent: -1000%;

    background: url("../../desktop.blocks/contact/__social/contact__social.png");
}

.contact__social:last-child
{
    margin-right: 0;
}

.contact__social_service_facebook:hover
{
    background-position: 0 -21px;
}

.contact__social_service_facebook:active
{
    background-position: 0 -42px;
}

.contact__social_service_vkontakte
{
    background-position: -21px 0;
}

.contact__social_service_vkontakte:hover
{
    background-position: -21px -21px;
}

.contact__social_service_vkontakte:active
{
    background-position: -21px -42px;
}

.contact__social_service_twitter
{
    background-position: -42px 0;
}

.contact__social_service_twitter:hover
{
    background-position: -42px -21px;
}

.contact__social_service_twitter:active
{
    background-position: -42px -42px;
}

/* ../../desktop.blocks/contact/__social/contact__social.css end */
/* ../../desktop.blocks/contact/_details/contact_details.css begin */
.contact_details .contact__photo
{
    height: 200px;
}

.contact_details .contact__name
{
    white-space: normal;
}

/* ../../desktop.blocks/contact/_details/contact_details.css end */
/* ../../desktop.blocks/contact/_customize/contact_customize_vip.css begin */
.contact_customize_vip .contact__phone-button
{
    background: -webkit-linear-gradient(rgba(69, 56, 221, 0.64), rgba(4, 19, 131, 0.83));
    background:    -moz-linear-gradient(rgba(69, 56, 221, 0.64), rgba(4, 19, 131, 0.83));
    background:     -ms-linear-gradient(rgba(69, 56, 221, 0.64), rgba(4, 19, 131, 0.83));
    background:      -o-linear-gradient(rgba(69, 56, 221, 0.64), rgba(4, 19, 131, 0.83));
    background:         linear-gradient(rgba(69, 56, 221, 0.64), rgba(4, 19, 131, 0.83));
}

.contact_customize_vip .contact__phone-button:hover
{
    background: -webkit-linear-gradient(rgba(69, 56, 221, 0.54), rgba(4, 19, 131, 0.73));
    background:    -moz-linear-gradient(rgba(69, 56, 221, 0.54), rgba(4, 19, 131, 0.73));
    background:     -ms-linear-gradient(rgba(69, 56, 221, 0.54), rgba(4, 19, 131, 0.73));
    background:      -o-linear-gradient(rgba(69, 56, 221, 0.54), rgba(4, 19, 131, 0.73));
    background:         linear-gradient(rgba(69, 56, 221, 0.54), rgba(4, 19, 131, 0.73));
}

/* ../../desktop.blocks/contact/_customize/contact_customize_vip.css end */
